@import url(cor.css);

header {

    background-color: var(--marrom);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    width: 200px;
    justify-content: space-between;

}

nav ul {
    color: white;


}

nav li {
    list-style: none;
    color: aqua;
} 

#Home, #Sobre_nos, #Reservas, #Unidades, #Cardapio {

    color: white;
} 